<div class="flex justify-center items-center h-full w-full">
    <div class="w-3/4">
        <div class="flex justify-center items-center mb-2 font-bold">
            <h4>Question {{currentQuestionNumber}} of {{totalQuestionNumber}}</h4>
        </div>
        <hr/>
        @for(question of lstQuestion; track question.Id){
        <div class="mb-3 rounded w-full">
            <div class="px-3 py-2 font-bold">
                <h2>{{currentQuestionNumber}}. {{question.Question}}</h2>
            </div>
            @for(option of question.Options; track option.Id){
            <div class="px-3 py-3">
                <div class="flex items-center">
                    <div class="mr-2">
                        <input type="radio" name="option.Id">
                    </div>
                    <div>
                        <label for="{{option.Id}}">{{option.Option}}</label>
                    </div>
                </div>
            </div>
            }
        </div>
        }
        <div class="flex justify-center items-center gap-3">
            <div>
                <button class="inline px-3 py-2 bg-red-700 text-white rounded-lg cursor-pointer"
                    (click)="onPrevius()">Previus<i class="ml-1 fa-solid fa-arrow-left"></i></button>
            </div>
            <div>
                @if(currentQuestionNumber < 10){ <button class="px-3 py-2 bg-red-700 text-white rounded-lg cursor-pointer"
                    (click)="onNext()">Next<i class="ml-1 fa-solid fa-arrow-right"></i></button>
                    }@else{
                    <button class="px-3 py-2 bg-red-700 text-white rounded-lg cursor-pointer"
                        (click)="onSubmit()">Submit</button>
                    }
            </div>
        </div>
    </div>
</div>