<div class="flex justify-center items-center h-full w-full">
    <div class="border border-gray-300 rounded-lg p-6 w-96 text-center">
        <h2 class="text-2xl font-bold mb-4">Quiz Completed!</h2>
        <p class="text-lg mb-2">Your Score:</p>
        <p class="text-4xl font-extrabold text-red-600 mb-4">{{score}} / {{totalQuestions}}</p>
        <p class="text-4xl font-extrabold text-red-600 mb-4">Attend : {{score}}</p>
        <p class="text-4xl font-extrabold text-red-600 mb-4">Not Attend : {{score}}</p>
        <button class="bg-red-700 text-white px-4 py-2 rounded-lg cursor-pointer" (click)="onRestartQuiz()">Restart Quiz <i class="fa-solid fa-arrow-rotate-left"></i></button>
    </div>
</div>